In [146]:
#!pip install pathlib

In [147]:
#!pip install ruamel-yaml

In [148]:
#!pip install tweepy

In [152]:
# - choose 5 capitals, and how many 100 km around it
# - 3 hashtags
# - choose a time frame (2weeks?)
# - limitations tweepy

In [62]:
import tweepy

In [63]:
import pandas as pd

In [64]:
%run ./keys.ipynb

In [65]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

In [66]:
api = tweepy.API(auth)

In [67]:
auth.set_access_token(access_token, access_token_secret)

## Get Tweet from @BarackObama

In [103]:
number_of_tweets = 10
tweets =[]
likes= []
time=[]

In [104]:
for i in tweepy.Cursor(api.user_timeline, id="BarackObama", tweet_mode="extended").items(number_of_tweets):
    tweets.append(i.full_text)
    likes.append(i.favorite_count)
    time.append(i.created_at)

Unexpected parameter: id

In [105]:
tweets

["Today @POTUS announced that the U.S. will be welcoming 100,000 refugees fleeing the war in Ukraine.\n\xa0\nThis is the right thing to do.\n\xa0\nIf you're looking for ways to help, join @WelcomeUS and support the refugees who will be arriving here soon: https://t.co/tXJCE3tiCE",
 'As the first woman to serve as America’s top diplomat, Madeleine Albright was a champion for democratic values. Michelle and I send our thoughts to the Albright family and everyone who knew and served with a truly remarkable woman. https://t.co/8jj3GYZXbB',
 "The other day, I called up DonnaMarie, Steve, and Amy to hear how the Affordable Care Act changed their lives and thank them for the work they’re doing with @ProtectOurCare to protect it.\n\nI hope you'll watch and share your own story: https://t.co/DhAQWzxCYq",
 'RT @POTUS: Twelve years ago, I proudly stood beside President @BarackObama as he signed into law the most consequential expansion of health…',
 ".@POTUS’s American Rescue Plan helped strengthen the Affordable Care Act by lowering costs and encouraging a record 14.5 million people to sign up for coverage in 2022. \n\nWe'll keep working to improve the ACA until every American has access to quality, affordable health coverage.",
 'During the pandemic, the Affordable Care Act helped make vaccines and COVID-19 tests available for free, covered emergency hospitalizations, and prevented insurance companies from denying anyone coverage based on a pre-existing condition.',
 '12 years ago today, I signed the Affordable Care Act into law. I’ve always believed that health care shouldn’t be a privilege for just a fortunate few, but a right for every American. \n\nToday, more than 30 million Americans have health coverage thanks to the Affordable Care Act. https://t.co/DmjgC00LpP',
 "It’s been a great year for college basketball, and now #MarchMadness is officially back. I’m excited for some of the young men in our @MBK_Alliance to join the action in New Orleans. Here's a look at my picks: https://t.co/LV9do4BSWB",
 'And third, a reminder that in the face of brutal repression, there are ordinary Russians that are showing tremendous courage in standing up to a senseless, destructive war. https://t.co/xh1Z10vo6V',
 'Second, a useful primer on why no-fly zones don’t offer a simple answer to stopping the bloodshed. https://t.co/q7VnpgLw9X']

In [106]:
df = pd.DataFrame({"tweets": tweets, "likes": likes, "time":time })

In [107]:
df

,tweets,likes,time
0,Today @POTUS announced that the U.S. will be w...,13217,2022-03-24 20:00:48+00:00
1,As the first woman to serve as America’s top d...,26937,2022-03-23 20:30:46+00:00
2,"The other day, I called up DonnaMarie, Steve, ...",11257,2022-03-23 19:45:16+00:00
3,"RT @POTUS: Twelve years ago, I proudly stood b...",0,2022-03-23 17:52:33+00:00
4,.@POTUS’s American Rescue Plan helped strength...,8091,2022-03-23 16:00:50+00:00
5,"During the pandemic, the Affordable Care Act h...",6006,2022-03-23 16:00:50+00:00
6,"12 years ago today, I signed the Affordable Ca...",38349,2022-03-23 16:00:49+00:00
7,"It’s been a great year for college basketball,...",6095,2022-03-16 20:00:27+00:00
8,"And third, a reminder that in the face of brut...",11417,2022-03-16 19:30:36+00:00
9,"Second, a useful primer on why no-fly zones do...",7550,2022-03-16 19:30:36+00:00

In [108]:
#deleting retweet
df = df[~df.tweets.str.contains("RT")]
#resetting index
df=df.reset_index(drop=True)

In [109]:
df

,tweets,likes,time
0,Today @POTUS announced that the U.S. will be w...,13217,2022-03-24 20:00:48+00:00
1,As the first woman to serve as America’s top d...,26937,2022-03-23 20:30:46+00:00
2,"The other day, I called up DonnaMarie, Steve, ...",11257,2022-03-23 19:45:16+00:00
3,.@POTUS’s American Rescue Plan helped strength...,8091,2022-03-23 16:00:50+00:00
4,"During the pandemic, the Affordable Care Act h...",6006,2022-03-23 16:00:50+00:00
5,"12 years ago today, I signed the Affordable Ca...",38349,2022-03-23 16:00:49+00:00
6,"It’s been a great year for college basketball,...",6095,2022-03-16 20:00:27+00:00
7,"And third, a reminder that in the face of brut...",11417,2022-03-16 19:30:36+00:00
8,"Second, a useful primer on why no-fly zones do...",7550,2022-03-16 19:30:36+00:00

In [110]:
mostlike=df.loc[df.likes.nlargest(5).index]

In [111]:
mostlike

,tweets,likes,time
5,"12 years ago today, I signed the Affordable Ca...",38349,2022-03-23 16:00:49+00:00
1,As the first woman to serve as America’s top d...,26937,2022-03-23 20:30:46+00:00
0,Today @POTUS announced that the U.S. will be w...,13217,2022-03-24 20:00:48+00:00
7,"And third, a reminder that in the face of brut...",11417,2022-03-16 19:30:36+00:00
2,"The other day, I called up DonnaMarie, Steve, ...",11257,2022-03-23 19:45:16+00:00

## Get Tweet with #StandwithUkraine

In [127]:
cursor = tweepy.Cursor(api.search_tweets, q="#StandWithUkraine", since="2022-03-25", tweet_mode="extended").items(1)

In [128]:
for i in cursor:
    print(i.full_text)

Unexpected parameter: since

@POTUS @JoeBiden #Palestinian men and women support the #Ukrainian People fighting for #Ukraine's territorial integrity. The #Ukrainian and #Palestinian People are fighting the same #fight.
https://t.co/RCmQab1ixZ
#FreeUkraine #WeAreAllUkrainians #StandWithUkraine #StopTheWar #StandTogether #EU

In [141]:
number_of_tweets = 10
tweets =[]
likes= []
time=[]

In [142]:
for i in tweepy.Cursor(api.search_tweets, q="#StandWihUkraine", tweet_mode="extended", since="2022-03-25").items(number_of_tweets):
     tweets.append(i.full_text)
     likes.append(i.favorite_count)
     time.append(i.created_at)

Unexpected parameter: since
Unexpected parameter: since

In [143]:
tweets

['Sadiq Khan: "People of British capital stand shoulder to shoulder with Ukraine in its darkest hour": https://t.co/YdhHYFjNRW\n#StopPutin #SaveUkraine #SaveTheWorld #StandwihUkraine',
 "Will the mourning broadcast of the ballet about Prince Siegfried's victory over the evil sorcerer be considered anti-Russian propaganda and discreditation the Russian army? #StopRussia #StopRussianAggression #StopPutin #SaveUkraine #SaveTheWorld #StandwihUkraine",
 "It seems that because of Putin's war against Ukraine, the CSTO and EAEU projects are no longer alive. #StopRussia #StopRussianAggression #StopPutin #SaveUkraine #SaveTheWorld #StandwihUkraine",
 "The war, which began as a struggle to destroy the rebellious Ukraine, is increasingly turning into Putin's struggle for his own survival. But in the pack of wolves Akela who failed has no chance to survive. #StopRussianAggression #StopPutin #SaveTheWorld #StandwihUkraine",
 'It will be no parade on May 9 this year in Russia. Because any slogans against fascism  today are recognized in Russia as anti-Russian propaganda and an insult to the Russian army. #StopRussia #StopRussianAggression #StopPutin #SaveUkraine #SaveTheWorld #StandwihUkraine']

In [144]:
df = pd.DataFrame({"tweets": tweets, "likes": likes, "time":time })

In [145]:
df

,tweets,likes,time
0,"Sadiq Khan: ""People of British capital stand s...",0,2022-03-27 03:51:22+00:00
1,Will the mourning broadcast of the ballet abou...,0,2022-03-25 19:36:58+00:00
2,It seems that because of Putin's war against U...,0,2022-03-25 16:57:02+00:00
3,"The war, which began as a struggle to destroy ...",0,2022-03-25 06:25:53+00:00
4,It will be no parade on May 9 this year in Rus...,0,2022-03-25 05:53:23+00:00

In [57]:
#!pip install spacy

<!-- import matplotlib.pyplot as plt
import re
import spacy
import seaborn as sns -->

In [58]:
# !python -m spacy download en_core_web_lg

In [118]:
# nlp=spacy.load("en_core_web_lg")